@model SeriusSoft.MigraineDiaryMVC.MigraineModels.MedicationModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MedicationModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dosage.DosageID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dosage.DosageID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MedicationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
