@model IEnumerable<SeriusSoft.MigraineDiaryMVC.MigraineModels.MedicationModel>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table alternatingTable">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.DosageID)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.IngredientIDs)
		</th>
		<th></th>
	</tr>

	<tbody>
	@foreach (var item in Model)
 {
		<tr class="@TableHelpers.AlternateClass(this.ViewBag, "tableRow","tableAlternateRow")">
			<td>
				@Html.DisplayFor(modelItem => item.Dosage.Display)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>

			<td>
				@{
					var sb = new System.Text.StringBuilder();
					item.Ingredients.ToList().ForEach(i => sb.Append(i.Display).Append(", "));
					if (item.Ingredients.Any()) { sb.Remove(sb.Length - 2, 2); }
				}
				@sb.ToString()
		
				@*@Html.DisplayFor(modelItem => item.Ingredients)*@
			</td>

			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.MedicationID }) |
            @Html.ActionLink("Details", "Details", new { id = item.MedicationID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MedicationID })
			</td>
		</tr>
 }
		</tbody>

</table>
