@model IEnumerable<SeriusSoft.MigraineDiaryMVC.MigraineModels.TriggerModel>
@using SeriusSoft.Tools.Extensions

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table alternatingTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TriggerType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info)
        </th>
        <th></th>
    </tr>
	
	<tbody>
@foreach (var item in Model) {
    <tr class="@TableHelpers.AlternateClass(this.ViewBag, "tableRow","tableAlternateRow")">
        <td>
            @Html.DisplayFor(modelItem => item.TriggerType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
						@{ var trimmedInfo = item.Info.TrimWithEllipsis(); }
            @Html.DisplayFor(modelItem => trimmedInfo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TriggerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TriggerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TriggerID })
        </td>
    </tr>
}
		</tbody>
</table>



@*<script type="text/x-jquery-tmpl">
	$(document).ready(function () {
		$(".alternatingTable > tbody tr:odd").addClass("tableAlternateRow");
		$(".alternatingTable > tbody tr:event").addClass("tableRow");
	});
</script>*@
